.modal-header{
 background-color: #EFFFF4;
}
.modal-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #008A45;
  
}

.field{
    width: 20rem;
    background: #F7F8FA;
border: 1px solid #D9D9DB;
border-radius: 2px 2px 0px 0px;
padding: 10px 20px;
}