.mx-20{
    margin: 3rem 7rem;
}
.mt-16{
    margin-top: 1rem;
}
.flex{
    display: flex;
    align-items: center;
}

.shared{
    background-color: '#EDEEF0';
    font-size: .9rem;
    border: 0;
    padding: 5px 10px;
}
html{
    font-size: 100%;
}



@media screen and (max-width: 998px){
    html{
        font-size: 55%;
    }
    .banner-header{

    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 50%;
    }
    .banner{
        min-height: 30vh;
       
    }
}
@media screen and (max-width: 576px){
    html{
        font-size: 45%;
    }
    .banner{
        min-height: 10vh;
    }
}